.clients__title {
  margin-bottom: 30px;
  @media screen and(min-width:1200px) {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  flex-wrap: wrap;
}
.clients-list__item {
  margin-left: 30px;
  @media screen and(max-width:399px) {
    & + & {
      margin-bottom: 20px;
    }
  }
}
.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 15px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 15px;
  color: $main-icon-color;
  border: 1px solid $main-icon-color;
  border-radius: 4px;
  transition: color $main-duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
.clients-list__icon {
  fill: currentColor;
}
