.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0 25px 0;
  }
}
.header__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color $main-duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 94px;
  }
}
.site-nav__link {
  display: flex;
  align-items: center;
  position: relative;
  color: $text-headers;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    cursor: pointer;
    transform: scaleX(0);
    opacity: 0;
    transition: transform $main-duration $timing-function, opacity $main-duration $timing-function;
  }

  &:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
  &--current {
    color: $accent-color;
  }
  &--current::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

    &__link {
      display: flex;
      align-items: center;
      color: $text-descr;
    }
    &__icon {
      margin-right: 8px;
      fill: currentColor;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;

    &__link {
      display: flex;
      align-items: center;
      color: $text-descr;
    }
    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}

.site-contact__item + .site-contact__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
