.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $main-duration $timing-function;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform $main-duration $timing-function;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;

  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill $main-duration $timing-function;
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: $accent-color;
}
.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $text-headers;
}
.modal-form__fildset {
  padding: 0;
  border: none;
}
.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: $text-descr;
}
.modal-form__wrap {
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border $main-duration $timing-function;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: $accent-color;
}

.modal-form__coment {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-form__coment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 15px;
}
.checkbox__input:checked ~ .checkbox__icon {
  background-image: url(../images/active-check.svg);
}
.checkbox__label {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: $text-descr;
}

.checkbox__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;
}
.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
