.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: white;
}
.hamburger-button.is-open .hamburger__close {
  display: block;
}
.hamburger-button.is-open .hamburger__menu {
  display: none;
}
.hamburger__close {
  display: none;
}
