html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --blue-color: #2196f3;
  --text-descr: #757575;
  --text-headers: #212121;
  --primary-white-color: #ffffff;
  --background-main-color: #2f303a;
  --background-gray-color: #f5f4fa;
  --main-icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: Roboto, sans-serif;
  color: var(--text-headers);
  background-color: var(--primary-white-color);
}
section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  height: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* SOCIAL */
.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item {
  margin-left: 10px;
}
.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--main-icon-color);
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--timing-function),
    color var(--main-duration) var(--timing-function);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--blue-color);
  color: var(--primary-white-color);
}
.social-list__icon {
  fill: currentColor;
  transition: fill var(--main-duration) var(--timing-function);
}
.social-list__icon:focus,
.social-list__icon:hover {
  fill: var(--primary-white-color);
}

.button {
  width: 201px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--main-duration) var(--timing-function);
}
.button:focus,
.button:hover {
  background-color: #188ce8;
}
.title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Навигация */
.header {
  border: 1px solid #ececec;
  padding: 24px 0 25px 0;
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color var(--main-duration) var(--timing-function);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--blue-color);
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo__accent {
  color: var(--blue-color);
}
.site-nav {
  display: flex;
  margin-left: 94px;
}
.site-nav__link {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--text-headers);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  cursor: pointer;
  transform: scaleX(0);
  opacity: 0;
  transition: transform var(--main-duration) var(--timing-function),
    opacity var(--main-duration) var(--timing-function);
}
.site-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.site-nav__link--current {
  color: var(--blue-color);
}
.site-nav__link--current::after {
  transform: scaleX(1);
  opacity: 1;
}
.site-contact {
  display: flex;
  margin-left: auto;
}

.site-contact__item + .site-contact__item {
  margin-left: 50px;
}
.site-contact__link {
  display: flex;
  align-items: center;
  color: var(--text-descr);
}

.site-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой  */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}
.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Особености */
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
}
.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-list__item + .features-list__item {
  margin-left: 30px;
}
.features-list__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--background-gray-color);
  border-radius: 4px;
}
.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-descr);
}
/* Предложения */
.offers__title {
  margin-bottom: 50px;
}
.offers-list {
  display: flex;
  justify-content: space-between;
}

.offers-list__wrapper {
  position: relative;
}
.offers-list__image {
  display: block;
  width: 100%;
}
.offers-list__description {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team {
  background-color: var(--background-gray-color);
}
.team__title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-headers);
}
.team-list__meta {
  padding: 30px 0px;
}
.team-list__item {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-descr);
}
.team-list__social-list {
  margin-top: 16px;
  margin-left: -10px;
}
/* CLIENTS */
.clients__title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.clients-list__item {
  margin-left: 30px;
}
.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  color: var(--main-icon-color);
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  transition: color var(--main-duration) var(--timing-function);
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.clients-list__icon {
  fill: currentColor;
}

/* Футер */
.footer {
  padding: 60px 0;
  background-color: var(--background-main-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.wrapper-logo {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.social {
  margin-left: 70px;
}
.social__title {
  margin-bottom: 20px;
}

.social-list__link--white {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.subscibe {
  margin-left: auto;
}
.subscribe__title {
  margin-bottom: 20px;
}
.form-subscribe {
  display: flex;
}
.form-subscribe__email {
  position: relative;
}
.form-subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  cursor: text;
}

.form-subscribe__input {
  height: 50px;
  width: 360px;
  padding-left: 16px;
  background-color: var(--background-main-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}

.form-subscribe__input:focus + .form-subscribe__label,
.form-subscribe__input:not(:placeholder-shown) + .form-subscribe__label {
  opacity: 0;
}

.form-subscribe__button {
  margin-left: 12px;
}
.button__icon {
  fill: var(--primary-white-color);
}
.button__icon--right {
  margin-left: 10px;
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-duration) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--main-duration) var(--timing-function);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;

  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--main-duration) var(--timing-function);
}
.close-button:hover,
.close-button:focus .close-icon {
  fill: var(--blue-color);
}
.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-headers);
}
.modal-form__fildset {
  padding: 0;
  border: none;
}
.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}
.modal-form__wrap {
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--main-duration) var(--timing-function);
  cursor: pointer;
}
.modal-form__input:hover,
.modal-form__input:focus {
  border: 1px solid var(--blue-color);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--blue-color);
}

.modal-form__coment {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-form__coment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 15px;
}
.checkbox__input:checked ~ .checkbox__icon {
  background-image: url(../images/active-check.svg);
}
.checkbox__label {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--text-descr);
}

.checkbox__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--blue-color);
}
.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Портфолио */

/* Фильтры */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-list__item {
  margin-right: 8px;
}
.filters-list__button {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--background-gray-color);
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: box-shadow var(--main-duration) var(--timing-function),
    background-color var(--main-duration) var(--timing-function),
    color var(--main-duration) var(--timing-function);
}

.filters-list__button:hover,
.filters-list__button:focus {
  color: var(--primary-white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-list__button--active {
  color: var(--primary-white-color);
  background-color: var(--blue-color);
}
/* Работы */
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primary-white-color);
}
.work-list__item:nth-child(3n) {
  margin-right: 0;
}
.work-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-list__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--main-duration) var(--timing-function);
}
.work-list__link:hover,
.work-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.work-list__image {
  display: block;
  width: 100%;
}

/* BLUE ICON */
.work-list__wrapper {
  position: relative;
  overflow: hidden;
}
.work-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--main-duration) var(--timing-function);
  overflow: hidden;
}
.work-overlay__descr {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transition: var(--main-duration) var(--timing-function);
}
.work-list__link:hover .work-overlay,
.work-list__link:focus .work-overlay {
  transform: translateY(0);
}
/* BLUE ICON */
.item-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.item-text__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--text-headers);
}
.item-text__descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-descr);
}
