$accent-color: #2196f3;
$text-descr: #757575;
$text-headers: #212121;
$primary-white-color: #ffffff;
$background-main-color: #2f303a;
$background-gray-color: #f5f4fa;
$main-icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-duration: 250ms;
